In [1]:
import pandas as pd
import numpy as np
shop = pd.DataFrame.from_items([('fam', ['Adams', 'Adams', 'Adams', 'Brown']), \
                                ('food', ['apple', 'banana', 'banana', 'apple']), \
                                ('qty', [1, 2, 3, 4])])
shop

     fam    food  qty
0  Adams   apple    1
1  Adams  banana    2
2  Adams  banana    3
3  Brown   apple    4

In [2]:
foods = pd.crosstab(shop.fam, shop.food, values = shop.qty, aggfunc=np.sum) #normalize = True, 'columns' work; 'rows' not
foods = foods.fillna(0) #Brown bought no bananas
foods.reset_index(level=0, inplace=True)
foods

food    fam  apple  banana
0     Adams    1.0     5.0
1     Brown    4.0     0.0

In [3]:
fami = pd.DataFrame.from_items([('fam', ['Adams', 'Brown']), \
                                ('urban', ['y', 'n']), \
                                ('money', [100, 500])])
fami

     fam urban  money
0  Adams     y    100
1  Brown     n    500

In [4]:
famifoods = pd.merge(fami, foods, how='left', on='fam')
famifoods

     fam urban  money  apple  banana
0  Adams     y    100    1.0     5.0
1  Brown     n    500    4.0     0.0

In [5]:
#I still don't know how to have percentages. Some suggest using the ML kit ...