In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [3]:
titles = pd.DataFrame.from_csv('data/titles.csv', index_col=None)
titles.head()

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [4]:
cast = pd.DataFrame.from_csv('data/cast.csv', index_col=None)
cast.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

### How many movies are listed in the titles dataframe?

In [8]:
len(titles) #this would give me the number of rows, not sure if the same movie appears more than once

220293

In [7]:
#mentor writes: for "How many movies are listed in the titles dataframe?",
#I think they're unique, but if you want to be sure, titles.title.nunique() will sort you
titles.title.nunique() #trying ... gives a different, smaller answer

201701

In [24]:
#mentor writes:

#1)
#len([t for t in titles if t.title.find('Hamlet') != -1]) # gets you the titles containing Hamlet
#... but 'builtin_function_or_method' object has no attribute 'find'

#2)
#you can normalize the case before you compare... eg
#len([t for t in titles if t.title.lower().find('hamlet') != -1])
#... but 'same error' ... so I'll learn about for loops sooner or later, just not now!

#"How many" refers to a count, not the actual result, but you just needed to put a len() around it

AttributeError: 'builtin_function_or_method' object has no attribute 'find'

### What are the earliest two films listed in the titles dataframe?

In [42]:
titles['year'].sort_values().head(2) #gives me something: the two earliest dates, but not the titles

168455    1894
118068    1899
Name: year, dtype: int64

In [47]:
titles.sort_values('year').head(2)
#so, 4 things learned:
#the solution notebook has solutions
#I can open more than one notebook at once
#sort() takes 'variable name' as an argument
#sort_values because sort is deprecated

                                                 title  year
168455                                      Miss Jerry  1894
118068  Reproduction of the Corbett and Jeffries Fight  1899

In [ ]:
#something else I'm learning: B does open a box below
#but how do I save this notebook automatically? ... hm, it seems to automatically save anyway

### How many movies have the title "Hamlet"?

In [52]:
t = titles
t[t.title.str.startswith("Hamlet")].count() #this was my attempt, and it gives me something

title    41
year     41
dtype: int64

In [58]:
t.title.str.startswith("Hamlet").value_counts() #it gives me the same number

False    220252
True         41
Name: title, dtype: int64

In [63]:
#I'd really love to see those movies, just to check
t[t.title == "Hamlet"] #but this is not 41

         title  year
5677    Hamlet  1948
26624   Hamlet  2016
38088   Hamlet  2015
44302   Hamlet  1910
46284   Hamlet  1990
69471   Hamlet  1954
87348   Hamlet  1976
89432   Hamlet  1987
89633   Hamlet  2000
93453   Hamlet  1921
116376  Hamlet  1969
157659  Hamlet  1913
166861  Hamlet  2009
173373  Hamlet  1964
190749  Hamlet  1996
196686  Hamlet  2011
198936  Hamlet  1911
209948  Hamlet  1973
211951  Hamlet  2014

In [64]:
t[t.title == "Hamlet "] #gives me nothing, so there's nothing like "Hamlet (I)"?

Empty DataFrame
Columns: [title, year]
Index: []

In [65]:
len(titles[titles.title == 'Hamlet']) #the solutions solution

19

In [66]:
#I'd love to look at the raw data, sorted, just with titles that start with "Hamlet"
t[t.title.str.startswith("Hamlet")]
#and there you go! just don't append the .count_values() -- cool!

                                title  year
5677                           Hamlet  1948
7232        Hamlet: Prince of Denmark  1989
8383                      Hamlet (II)  2015
12255    Hamlet (A Modern Adaptation)  2016
14337                  Hamlet Unbound  2012
16448       Hamlet, Prince of Denmark  1997
25433                     Hamlet (II)  2007
26624                          Hamlet  2016
34328   Hamlet: The Fall of a Sparrow  2016
35189                        Hamlet_X  2003
37167        Hamlet, Son of a Kingpin  2015
38088                          Hamlet  2015
40044                     Hamlet (IV)  2016
42350                    Hamlet (III)  2007
44302                          Hamlet  1910
46284                          Hamlet  1990
69471                          Hamlet  1954
75050                        Hamlet X  2004
87348                          Hamlet  1976
89432                          Hamlet  1987
89633                          Hamlet  2000
93006                        Hamlet 2  2008
93453                          Hamlet  1921
107296                   Hamlet (III)  2016
108561         Hamlet liikemaailmassa  1987
110007                    Hamlet (II)  2016
116376                         Hamlet  1969
135619                  Hamlet A.D.D.  2014
157659                         Hamlet  1913
163405      Hamlet the Vampire Slayer  2008
166861                         Hamlet  2009
173373                         Hamlet  1964
179151                    Hamlet (II)  2005
184874                 Hamlet's Ghost  2015
190749                         Hamlet  1996
196686                         Hamlet  2011
198936                         Hamlet  1911
209948                         Hamlet  1973
211951                         Hamlet  2014
211999         Hamlet in the Hamptons  2002
215312                    Hamlet (II)  1964

In [ ]:
#not sure how to do "hamlet" or "hamlet " but still, moving forward

### How many movies are titled "North by Northwest"?

In [68]:
t[t.title == "North by Northwest"]
#just one? checked the solutions and yes, but they do something different

                     title  year
131994  North by Northwest  1959

In [69]:
#this is what they do
len(t[t.title == "North by Northwest"])

1

### When was the first movie titled "Hamlet" made?

In [73]:
t[t.title == "Hamlet"].sort_values('year').head(1) #answer = 1910
#the command corresponds exactly with the solution

        title  year
44302  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [74]:
t[t.title == "Treasure Island"].sort_values('year') #easy peasy

                  title  year
195231  Treasure Island  1918
48633   Treasure Island  1920
196781  Treasure Island  1934
91885   Treasure Island  1950
56546   Treasure Island  1972
105600  Treasure Island  1973
194635  Treasure Island  1985
169982  Treasure Island  1999

### How many movies were made in the year 1950?

In [77]:
t[t.year == 1950].count() #answer 1037
#they use len, so
len(t[t.year == 1950]) #ok, comes out cleaner

1037

In [78]:
#and, just out of curiosity, in the year I was born?
len(t[t.year == 1962])

1586

### How many movies were made in the year 1960?

In [79]:
len(t[t.year == 1960])

1481

### How many movies were made from 1950 through 1959?

In [87]:
len(t[(t.year > 1949) & (t.year < 1960)]) #might be one way ... particularly if I select good years; 1960, not 1951
len(t[(t.year > 1949) & (t.year < 1951)])

1037

In [83]:
len(t[(t.year // 10) == 195]) #sounds more reasonable for a decade

12228

In [84]:
len(t[(t.year >= 1950) & (t.year <= 1959)]) #the suggested solution

12228

### In what years has a movie titled "Batman" been released?

In [92]:
t[t.title == 'Batman'] #got it

        title  year
53109  Batman  1989
70719  Batman  1943

### How many roles were there in the movie "Inception"?

In [94]:
t[t.title == "Inception"] #has the titles

           title  year
60037  Inception  2010

In [104]:
c = cast
c.head()

                               title  year       name   type character     n
0                    Suuri illusioni  1985     Homo $  actor    Guests  22.0
1     Gangsta Rap: The Glockumentary  2007  Too $hort  actor   Himself   NaN
2                  Menace II Society  1993  Too $hort  actor   Lew-Loc  27.0
3  Porndogs: The Adventures of Sadie  2009  Too $hort  actor     Bosco   3.0
4                 Stop Pepper Palmer  2014  Too $hort  actor   Himself   NaN

In [110]:
len(c[c.title == "Inception"]) #cool, though the result is slightly different

76

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [115]:
len(c[c.title == "Inception"].n.value_counts()) #gives me the right answer, but doesn't use the suggested "function"

51

In [116]:
c[c.title == "Inception"].n.sort_values() #shows, counting by hand, that NaN are 25; which is 76 - 51

542783      1.0
790687      2.0
3082815     3.0
865362      4.0
2209301     5.0
1723986     6.0
1485935     7.0
167780      8.0
2532031     9.0
1678275    10.0
299465     11.0
837372     12.0
1203558    13.0
2680336    14.0
1534250    15.0
2680344    16.0
746940     17.0
1337777    18.0
1564635    19.0
305701     20.0
889820     21.0
3058653    22.0
652161     23.0
1076586    24.0
3164965    25.0
397858     26.0
2569100    27.0
2874076    28.0
237743     29.0
475323     30.0
           ...
1665485    47.0
3158634    48.0
2066698    49.0
766320     50.0
3386969    51.0
89229       NaN
180568      NaN
343811      NaN
628899      NaN
634916      NaN
650551      NaN
769011      NaN
926384      NaN
1007895     NaN
1020216     NaN
1030691     NaN
1093516     NaN
1147125     NaN
1191071     NaN
1205838     NaN
1531627     NaN
1687933     NaN
1765388     NaN
1837355     NaN
1953771     NaN
2055461     NaN
2559326     NaN
2696356     NaN
2788837     NaN
2871780     NaN
Name: n, dtype: float64

In [121]:
#here's the suggested way around it

# How many roles in the movie "Inception" are NOT ranked by an "n" value?
c = cast
c = c[c.title == 'Inception'] #first select
#c now gives me 76 rows
c = c[c.n.isnull()] #then look for isnull
#c now gives me less rows
len(c) #then count

25

In [125]:
#so it looks like what I did works ...
c = cast
len(c[c.title == "Inception"].n.value_counts())
#... because value_counts() doesn't count NaN by default

51

### But how many roles in the movie "Inception" did receive an "n" value?

In [129]:
c = cast
c = c[c.title == "Inception"] #select
c = c[c.n.notnull()]
len(c)

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [167]:
c = cast
c = c[c.title == "North by Northwest"]
#c[c.n.notnull()] #gives me the cast unsorted
#c[c.n.notnull()].n.sort_values() #gives me the sorted n, but not the cast
#so select, then sort
c = c[c.n.notnull()]
#c.n.sort_values() doesn't work
#c.sort_values('n') #the suggested solution
#looks like n is a parameter, so could we sort by more than one column?
c.sort_values(['type', 'name']) #yay! males by name, females by name -- very cool!
#c.sort_values(['name', 'type']) #works too!

,title,year,name,type,character,n
2247028,North by Northwest,1959,Adam Williams,actor,Valerian,9.0
801227,North by Northwest,1959,Cary Grant,actor,Roger O. Thornhill,1.0
188325,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0
1664824,North by Northwest,1959,Edward Platt,actor,Victor Larrabee,10.0
1339255,North by Northwest,1959,James Mason,actor,Phillip Vandamm,3.0
1272541,North by Northwest,1959,Ken Lynch,actor,Charley - Chicago Policeman,16.0
327210,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
2107964,North by Northwest,1959,Les Tremayne,actor,Auctioneer,12.0
1171541,North by Northwest,1959,Martin Landau,actor,Leonard,8.0
1386846,North by Northwest,1959,Patrick McVey,actor,Sergeant Flamm,14.0
426605,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
1558644,North by Northwest,1959,Philip Ober,actor,Lester Townsend,7.0
612020,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
3198746,North by Northwest,1959,Eva Marie Saint,actress,Eve Kendall,2.0
2878763,North by Northwest,1959,Jessie Royce Landis,actress,Clara Thornhill,4.0
2783385,North by Northwest,1959,Josephine Hutchinson,actress,Mrs. Townsend,6.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [171]:
c = cast
c = c[c.title == "Sleuth"]
c = c[c.year == 1972]
c
#ok, and now how do we order by n?
c.sort_values('n')
#still not muscle memory, but getting there bit by bit ...

,title,year,name,type,character,n
1567806,Sleuth,1972,Laurence Olivier,actor,Andrew Wyke,1.0
299493,Sleuth,1972,Michael Caine,actor,Milo Tindle,2.0
343106,Sleuth,1972,Alec Cawthorne,actor,Inspector Doppler,3.0
1346804,Sleuth,1972,John (II) Matthews,actor,Detective Sergeant Tarrant,4.0
2495285,Sleuth,1972,Eve (III) Channing,actress,Marguerite Wyke,5.0
1331584,Sleuth,1972,Teddy Martin,actor,Police Constable Higgs,6.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [172]:
c = cast
c = c[c.title == "Sleuth"]
c = c[c.year == 2007]
c.sort_values('n')
#copy paste ...

          title  year                 name     type          character    n
299494   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1188578  Sleuth  2007             Jude Law    actor               Milo  2.0
1659836  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
237847   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
343107   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2495284  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3068142  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [176]:
c = cast
c = c[c.title =='Hamlet']
c = c[c.year == 1921]
len(c)

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [178]:
c = cast
c = c[c.title =='Hamlet']
c = c[c.year == 1996]
#c
len(c)

54

In [179]:
#the suggested solution is different just because it does two things at once, which is ok
c = cast
c = c[(c.title == 'Hamlet') & (c.year == 1996)]
len(c)

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [182]:
c = cast
c = c[c.character == "Hamlet"]
#c
len(c)

87

### How many people have played an "Ophelia"?

In [183]:
c = cast
c = c[c.character == "Ophelia"]
len(c)

100

### How many people have played a role called "The Dude"?

In [184]:
c = cast
c = c[c.character == "The Dude"]
len(c)

17

### How many people have played a role called "The Stranger"?

In [ ]:
#same

### How many roles has Sidney Poitier played throughout his career?

In [186]:
c = cast
c = c[c.name == "Sidney Poitier"]
len(c)

43

### How many roles has Judi Dench played?

In [ ]:
#same

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [195]:
c = cast
c = c[(c.name=="Cary Grant") & (c.n ==2) & ((c.year // 10) == 194)]
c.sort_values('year')

                   title  year        name   type    character    n
801224  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
801234    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

In [ ]:
#suggested solution was longer but also ok
c = cast
c = c[c.name == 'Cary Grant']
c = c[c.year // 10 == 194]
c = c[c.n == 2]
c = c.sort('year')
c

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [196]:
c = cast
c = c[(c.name=="Cary Grant") & (c.n ==1) & ((c.year // 10) == 194)]
c.sort_values('year')

,title,year,name,type,character,n
801249,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
801206,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
801251,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
801239,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
801253,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
801230,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
801197,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
801222,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
801223,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
801231,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
801189,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
801226,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
801225,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
801228,Notorious,1946,Cary Grant,actor,Devlin,1.0
801245,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
801246,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
801221,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
801201,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
801210,I Was a Male War Bride,1949,Cary Grant,actor,Capt. Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [198]:
#i keep getting slightly different answers, but i guess it's ok?
c = cast
c = c[c.type == "actor"]
c = c[c.year // 10 == 195]
len(c)

151926

In [31]:
#Mentor writes: For "How many roles were available for actors in the 1950s?", I'd probably do:
c = cast
c = c[c.type == "actor"]
c = c[(c.year > 1949) & (c.year < 1960)]
len(c)
#ditto for actresses
#My own comment: maybe one way of doing things is less expensive? Will try %%time on this one!
#And I had to fix the first year and add parens to make it work - ok, ok!

151926

### How many roles were avilable for actresses in the 1950s?

In [199]:
c = cast
c = c[c.type == "actress"]
c = c[c.year // 10 == 195]
len(c)

55177

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [200]:
c = cast
c = c[c.n == 1]
c = c[c.year <= 1980]
len(c)

62671

### How many non-leading roles were available through from the beginning of film history through 1980?

In [201]:
c = cast
c = c[c.n != 1]
c = c[c.year <= 1980]
len(c)

1073319

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [202]:
c = cast
c = c[c.n.isnull()]
c = c[c.year <= 1980]
len(c)

428508

In [ ]:
#and thus I finish my first real exercise set
#getting some muscle memory
#delighted that I can add comments
#delighted that I could work for at least two hours straight without huge frustration
#and now looking forward to uploading this to github -- wish me luck!